<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true">
  <ion-content class="padding" style="text-align: center;">
    
    <div class="padding"></div>

    <img src="img/logo.png">

    <div class="padding"></div>
    <div class="padding"></div>

<div class="list">
  <label class="item item-an item-input">
    <input type="text" placeholder="Enter your Society Name" ng-model="socName">
  </label>
  <label class="item item-an item-input">
    <input type="password" placeholder="Enter your Society Administrator Password" ng-model="socPassword">
  </label>
</div>

    <div class="padding"></div>
    
    <button class="button button-block button-red" ng-click="verify(socName,socPassword)"> Join as an Administrator</button>
    
  </ion-content>
</ion-view>