<ion-view view-title="{{annSubject}}" hide-back-button="false">
  <ion-nav-buttons side="right">

    <button ng-click="showActionsheet()" style="background-color: #B22222; border: none;" ng-show="isOwner">
      <i class="ion-android-more-vertical vertical-icon"></i>
    </button>

  </ion-nav-buttons>

  <ion-content class="padding" style="text-align: center;">
    
    <div class="padding"></div>

    {{annContent}}

  </ion-content>

  <ion-floating-button click="like()" has-footer="false" button-color="green" icon="ion-thumbsup" icon-color="white"></ion-floating-button>

</ion-view>