<ion-view view-title="{{compSubject}}" hide-back-button="false">
  <ion-nav-buttons side="right">
   <button ng-click="showActionsheet()" style="background-color: #B22222; border: none;" ng-show="isOwner">
      <i class="ion-android-more-vertical vertical-icon"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding" style="text-align: center;">
    
    <div class="padding"></div>

    <p class="inprogress-page">{{status.$value}}</p>

    <div class="padding"></div>

    

    <p class="left">{{compContent}}</p> <br>


    <div class="padding"></div>

    <hr>

    <p class="admin">Admin Comment:</p>

    <br>

    <p class="admin-blue">{{adminComment.$value}}</p>

  </ion-content>

  <ion-floating-menu menu-color="#B22222" menu-open-color="#B22222">
    <ion-floating-item icon="ion-thumbsup" click="like()"></ion-floating-item>
    <ion-floating-item button-color="red" icon="ion-ios-compose" click="changeStatus()" ng-show="userData.isAdmin"></ion-floating-item>
    <ion-floating-item button-color="blue" icon="ion-edit" click="comment()" ng-show="userData.isAdmin"></ion-floating-item>
  </ion-floating-menu>

  <script id="selectOption.html" type="text/ng-template">
    <ion-radio class="wrapping-list" ng-model="choice.option" ng-value="'In Progress'">In Progress</ion-radio>
    <ion-radio class="wrapping-list" ng-model="choice.option" ng-value="'Archived'">Archived</ion-radio>
    <ion-radio class="wrapping-list" ng-model="choice.option" ng-value="'Completed'">Completed</ion-radio>
  </script>


</ion-view>