<ion-view view-title="Mica" hide-back-button="true" cache-view="false" hide-nav-bar="false">
  <ion-nav-buttons side="right">
    <button ng-click="showActionsheet()" style="background-color: #B22222; border: none;">
      <i class="ion-android-more-vertical vertical-icon"></i>
    </button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-striped tabs-top tabs-background-positive has-tabs-top tabs-color-light">
    <ion-tab title="ANNOUNCEMENTS">
      <ion-nav-view name="announcements">
        <ion-content padding="true" has-header="false">
          <div class="list">
            <div class="padding"></div>
            <a class="item" ui-sref="announcements({annSubject : announcement.subject, annContent : announcement.content,annId:announcement.annId, uid:announcement.uid})" ng-repeat="announcement in announcements">
              <span class="list-head">{{announcement.subject}}</span><br>
              <span class="upvotes">{{announcement.upvotes}} upvotes</span><br>
              <span class="name">{{announcement.userName}}</span>
              <span class="datentime">{{announcement.date}}</span>
            </a>
            <!--<a class="item" ui-sref="announcements">
              <span class="list-head">For Upcoming Placements</span><br>
              <span class="upvotes">3 Upvotes</span><br>
              <span class="name">Saharsh</span>
              <span class="datentime">2016-07-26 02:07</span>
            </a>
            <a class="item" ui-sref="announcements">
              <span class="list-head">Printing and Xerox Opened Up.</span><br>
              <span class="upvotes">4 Upvotes</span><br>
              <span class="name">Muzzammil Sayed</span>
              <span class="datentime">2016-07-26 02:07</span>
            </a>-->
          </div>
        </ion-content>
        <ion-floating-button click="addAnnouncement()" has-footer="false" button-color="#B22222" icon="ion-plus" icon-color="white" ng-show="userData.isAdmin"></ion-floating-button>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="HELPDESK">
      <ion-nav-view name="helpdesk">
        <ion-content padding="true" has-header="false">
          <div class="list">
            <div class="padding"></div>
            <a class="item" ui-sref="helpdesk({compSubject : complaint.subject, compContent: complaint.content, compId : complaint.compId, compStatus: complaint.status, adminComment : complaint.adminComment, uid:complaint.uid })" ng-repeat="complaint in complaints">
              <span class="list-head">{{complaint.subject}}</span><br>
              <span class="upvotes">{{complaint.upvotes}} upvotes</span>
              <span class="archived">{{complaint.status}}</span>
              <br>
              <span class="name">{{complaint.userName}}</span>
              <span class="datentime">{{complaint.date}}</span>
            </a>
          </div>
        </ion-content>
        <ion-floating-button click="addHelpDesk()" has-footer="false" button-color="#B22222" icon="ion-plus" icon-color="white"></ion-floating-button>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>

</ion-view>