<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true">
  <ion-content class="padding" style="text-align: center;">
    
    <img src="img/logo.png">

    <div class="padding"></div>

    <div class="list">
      <label class="item item-an item-input">
        <input type="text" placeholder="Enter your first name" ng-model="firstname">
      </label>
      <label class="item item-an item-input">
        <input type="text" placeholder="Enter your last name" ng-model="lastname">
      </label>
   <!--  <label class="item item-an item-input">
        <input type="text" placeholder="Enter your Society Name" ng-model="societyName">
      </label> -->
      <label class="item item-an item-input">
        <input type="text" placeholder="Enter your Flat Number " ng-model="flatNumber">
      </label>
      <label class="item item-an item-input">
        <input type="email" placeholder="Enter your email" ng-model="email">
      </label>
      <label class="item item-an item-input">
        <input type="password" placeholder="Enter Password" ng-model="password">
      </label>
      <label class="item item-an item-input">
        <input type="password" placeholder="Re-Enter Password" ng-model="confirmPassword">
      </label>
      
       <label class = "item item-input item-select item-light">
        <div class = "input-label">
          Select your society
       </div>
        <select ng-model="societyName" ng-options="item for item in societyNames">
      </select>
    </label>
    </div>

    <button class="button button-block button-red" ng-click="signup(email,password,firstname,lastname,societyName,flatNumber,confirmPassword)"> CREATE ACCOUNT </button>
    
    <div class="padding"></div>

    <p class="word">Already have an account? <a ui-sref="login" class="red-color"><strong>Sign In</strong></a></p>
    
    <div class="padding"></div>

    <p class="muted">Powered by <strong>Beepsuite</strong></p>

  </ion-content>
</ion-view>